:root {
    /* Font-Family */
    --font-hansans: 'Black Han Sans', sans-serif;
    --font-roboto: 'Roboto', sans-serif;

    /* Font-Size */
    --font8 : 8px;
    --font16 : 16px;
    --font25 : 25px;
    --font40 : 40px;
    --font80 : 80px;
    --font350 : 350px;

    /* Color */
    --color-backgroundGray : #141517;
    --color-backgroundBlack : #000000;
    --color-white : #ffffff;
    --color-line : #2E2F31;
}
* {
    padding : 0;
    margin : 0;
    box-sizing: border-box;
}
html {
    width: 100%;
    height: 100%;
}
ul,li {
    list-style: none;
}
a {
    text-decoration: none;
}
body {
    display: flex;
    height: auto;
    background-color: var(--color-backgroundGray);
}
#aside {
    width: var(--font350);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    padding : var(--font16);
    font-size: var(--font40);
    background-color: var(--color-backgroundGray);
    box-sizing: border-box;
}
.aside__container {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#aside>p {
    display: flex;
}
#aside i,#aside span {
    font-size: var(--font40);
}
#aside span {
    color : var(--color-white);
    font-family: var(--font-hansans);
}
.aside__types {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.type {
    width: 100%;
    text-align: center;
    display: block;
}
.type a {
    color : var(--color-white);
    font-family: var(--font-roboto);
    width: 100%;
    height: 100%;
    display: block;
}
.type a.active {
    color : orange;
}
#content {
    width: calc(100% - 350px);
    height: auto;
    display: flex;
    flex-direction: column;
}
#nav {
    width: 100%;
    height: auto;
    background-color: var(--color-backgroundGray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--font25);
    box-sizing: border-box;
}
#nav>p {
    color : var(--color-white);
    font-family: var(--font-hansans);
    font-size: var(--font25);
    opacity: 0;
}
#nav button {
    width: var(--font40);
    height: var(--font40);
    background-color: transparent;
    border: 2px solid var(--color-white);
    border-radius: 50%;
    margin : var(--font16) 0;
}
#article {
    width: 100%;
    min-height: 100%;
    max-height: fit-content;
    height: auto;
    background-color: var(--color-backgroundBlack);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.article__lists {
    width: 100%;
    min-height: auto;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding : var(--font16);
}
.article__lists li {
    color : var(--color-white);
    width: 150px;
    height: 180px;
    margin : var(--font16);
    background: center/cover no-repeat;
    display: none;
    transition: transform 0.2s ease-in-out;
}
.article__lists li:hover {
    transform: scale(1.1);
}
.article__lists li.show {
    display: flex;
}

#modal {
    position: fixed;
    top : 0;
    left : 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0,0.9);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    transform: scale(0);
    transition: transform 0.5s ease-in-out;
    z-index: 100;
}
#modal.show {
    transform: scale(1);
}
.modalInner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modalInner__X {
    position: absolute;
    top : var(--font16);
    right: var(--font25);
    font-size: var(--font25);
    background-color: transparent;
    border: 3px solid var(--color-white);
    border-radius: var(--font25);
    color : var(--color-white);
    padding: 5px;
}
.modalInner__lists {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.modalInner__lists li {
    font-size: var(--font25);
    margin : var(--font16) 0 ;
    transition: background-color 0.2s ease-in-out;
}
.modalInner__lists li:hover {
    background-color: orange;
}
.modalInner__lists li a {
    width: 100%;
    height: 100%;
}

/* Responsive */
@media screen and (max-width:1474px) {
    .article__lists li {
        width: calc((100% - 96px) / 6);
        height: 230px;
        margin : var(--font8);
    }
}
@media screen and (max-width:1409px) {
    .article__lists li {
        width: calc((100% - 80px) / 5);
        height: 230px;
        margin : var(--font8);
    }
}
@media screen and (max-width:1219px) {
    .article__lists li {
        width: calc((100% - 64px) / 4);
        height: 230px;
        margin : var(--font8);
    }
}
@media screen and (max-width:1021px) {
    .article__lists li {
        width: calc((100% - 48px) / 3);
        height: 230px;
        margin : var(--font8);
    }
}

@media screen and (max-width:931px) {
    #aside {
        display: none;  
    }
    #content {
        width: 100%;
    }
    #nav>p {
        opacity: 1;
        font-size: var(--font25);
    }
    #article {
        height: 100vh;
    }
}

@media screen and (max-width:586px) {
    .article__lists li {
        width: calc((100% - 32px) / 2);
        height: 250px;
        margin : var(--font8);
    }
}
